Repository newkub/gen-password: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, dprint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    oxlint:
      glob: "*.{js,ts,vue}"
      run: bun oxlint --fix {staged_files}
    dprint:
      glob: "*.{js,ts,vue,json,md}"
      run: bun dprint fmt {staged_files}

feat(app): overhaul UI, refactor password generation, and fix build
  .oxlintrc.json
  .wrangler/deploy/config.json
  app/components/PasswordDisplay.vue
  app/components/PasswordOptions.vue
  app/components/SecurityStatus.vue
  app/composables/usePasswordGenerator.ts
  app/composables/useSecurity.ts
  app/layouts/default.vue
  app/layouts/fullscreen.vue
  app/pages/index.vue
  app/stores/password/index.ts
  app/types/password.ts
  bun.lock
  dprint.json
  nuxt.config.ts
  package.json
  server/api/generate-password.post.ts
Due: oxlint, dprint

feat: run lint, build and commit workflow
  .gitignore
  app/app.vue
  app/components/PasswordDisplay.vue
  app/components/SecurityStatus.vue
  app/composables/usePasswordGenerator.ts
  app/composables/useSecurity.ts
  app/layouts/default.vue
  app/pages/index.vue
  app/types/password.ts
  nuxt.config.ts
  server/api/generate-password.post.ts
Due: oxlint, dprint

fix(deploy): add correct deploy script
  package.json
Due: dprint

fix: correct compatibilityDate and run lint
  nuxt.config.ts
  package.json
Due: oxlint, dprint

chore: untrack .wrangler directory
  .wrangler/deploy/config.json
Due: dprint

feat: track .wrangler directory
  .gitignore
  .wrangler/deploy/config.json
Due: dprint

ci: add deploy workflow
  .github/workflows/deploy.yml
Due: none

ci: rename deploy workflow
  .github/workflows/deploy-cloudflare.yml
Due: none

refactor: remove deploy workflow
  .github/workflows/deploy-cloudflare.yml
Due: none

fix(nuxt): update nitro preset to cloudflare-pages
  nuxt.config.ts
Due: oxlint, dprint

chore: update .wrangler config for deployment
  .wrangler/deploy/config.json
Due: dprint

chore: update nitro preset to cloudflare_module and update wrangler config
  .wrangler/deploy/config.json
  nuxt.config.ts
Due: oxlint, dprint

feat: update password display and security status components
  .github/workflowss/deploy-cloudflare.yml
  .phase.json
  app/components/PasswordDisplay.vue
  app/components/SecurityStatus.vue
  app/pages/index.vue
  biome.jsonc
  bun.lock
  nuxt.config.ts
  package.json
Due: oxlint, dprint

refactor: apply code formatting
  .oxlintrc.json
  .phase.json
  .wrangler/deploy/config.json
  app/composables/usePasswordGenerator.ts
  app/pages/index.vue
  app/types/password.ts
  biome.jsonc
  package.json
Due: oxlint, dprint

chore: fix lint and update configs
  .wrangler/deploy/config.json
  app/composables/usePasswordGenerator.ts
  app/pages/index.vue
  nuxt.config.ts
Due: oxlint, dprint

chore: add TODO
  TODO.md
Due: dprint

Improve UX, enforce min length, and adjust clipboard flow
  .github/workflows/deploy-cloudflare.yml
  app/components/PasswordDisplay.vue
  app/components/PasswordOptions.vue
  app/components/SecurityStatus.vue
  app/composables/usePasswordGenerator.ts
  app/composables/useSecurity.ts
  app/layouts/fullscreen.vue
  app/pages/index.vue
  bun.lock
  lefthook.yml
  nuxt.config.ts
  package.json
Due: oxlint, dprint

Tweak layout spacing, widen UI, and refine security progress
  app/components/PasswordOptions.vue
  app/components/SecurityStatus.vue
  app/composables/usePasswordGenerator.ts
  app/layouts/fullscreen.vue
  app/pages/index.vue
Due: oxlint, dprint

style(ui): reduce background layers and improve controls
  app/components/PasswordOptions.vue
  app/composables/useSecurity.ts
  app/layouts/fullscreen.vue
  app/pages/index.vue
Due: oxlint, dprint

style(ui): improve layout width and security visuals
  app/components/SecurityStatus.vue
  app/composables/useSecurity.ts
  app/layouts/fullscreen.vue
  app/pages/index.vue
Due: oxlint, dprint

fix(ui): remove scrollbars and sync password preview
  app/layouts/fullscreen.vue
  app/pages/index.vue
Due: oxlint, dprint

Move random image to right panel
  app/components/PasswordDisplay.vue
  app/pages/index.vue
Due: oxlint, dprint

Tweak right panel layout and password length input
  app/components/PasswordDisplay.vue
  app/components/PasswordOptions.vue
  app/layouts/fullscreen.vue
  app/pages/index.vue
Due: oxlint, dprint

Adjust layout: widen left panel
  app/pages/index.vue
Due: oxlint, dprint

Auto-generate password on load and improve copy UX
  app/components/PasswordDisplay.vue
  app/composables/usePasswordGenerator.ts
  app/pages/index.vue
Due: oxlint, dprint

Convert to turborepo monorepo with Nuxt web and WXT extension
  .github/workflows/chrome-release.yml
  .gitignore
  README.md
  apps/extension/.gitignore
  apps/extension/README.md
  apps/extension/bunfig.toml
  apps/extension/entrypoints/background.ts
  apps/extension/entrypoints/popup/index.html
  apps/extension/entrypoints/popup/main.ts
  apps/extension/package.json
  apps/extension/wxt.config.ts
  apps/web/.gitignore
  apps/web/.oxlintrc.json
  apps/web/README.md
  apps/web/app/app.vue
  apps/web/app/components/PasswordDisplay.vue
  apps/web/app/components/PasswordOptions.vue
  apps/web/app/components/SecurityStatus.vue
  apps/web/app/composables/usePasswordGenerator.ts
  apps/web/app/composables/useSecurity.ts
  apps/web/app/layouts/fullscreen.vue
  apps/web/app/pages/index.vue
  apps/web/app/stores/password/index.ts
  apps/web/app/types/password.ts
  apps/web/biome.jsonc
  apps/web/dprint.json
  apps/web/nuxt.config.ts
  apps/web/package.json
  apps/web/public/favicon.ico
  apps/web/public/robots.txt
  apps/web/tsconfig.json
  apps/web/uno.config.ts
  bun.lock
  bunfig.toml
  lefthook.yml
  package.json
  turbo.json
Due: oxlint, dprint

chore(lint): migrate from biome to oxlint and dprint
  apps/extension/.oxlintrc.json
  apps/extension/biome.jsonc
  apps/extension/dprint.json
  apps/extension/package.json
  apps/web/biome.jsonc
  apps/web/package.json
  bun.lock
Due: dprint

feat: improve extension popup settings and formatting
  apps/extension/README.md
  apps/extension/entrypoints/background.ts
  apps/extension/entrypoints/popup/index.html
  apps/extension/entrypoints/popup/main.ts
  apps/extension/tsconfig.json
  apps/extension/wxt.config.ts
  apps/web/README.md
  apps/web/app/composables/usePasswordGenerator.ts
  apps/web/app/pages/index.vue
  apps/web/tsconfig.json
  apps/web/vitest.config.ts
Due: oxlint, dprint

chore: add eslint to satisfy ui lint hook
  bun.lock
  package.json
Due: dprint

chore(ui): fix eslint lint target
  packages/ui/package.json
Due: dprint

feat(web): simplify password generator UI
  apps/web/app/pages/index.vue
Due: oxlint, dprint

chore: update bun lockfile
  bun.lock
Due: none

chore(web): set nitro preset static
  apps/web/nuxt.config.ts
Due: oxlint, dprint

fix(web): add pinia and tsconfig overrides for CI build
  apps/web/package.json
  apps/web/tsconfig.json
  bun.lock
Due: dprint

refactor(web): move password options to composable
  .phase.json
  .wrangler/deploy/config.json
  apps/web/app/composables/usePasswordGenerator.ts
  apps/web/app/composables/usePasswordOptions.ts
  apps/web/app/composables/useSecurity.ts
  apps/web/components/PasswordDisplay.vue
  apps/web/components/PasswordOptions.vue
  apps/web/components/SecurityStatus.vue
  apps/web/tsconfig.json
Due: oxlint, dprint

fix(web): fix nuxt cloudflare wrangler routes config
  apps/web/nuxt.config.ts
Due: oxlint, dprint

chore: cleanup workflows and update web config
  .github/workflows/chrome-release.yml
  .github/workflows/deploy-cloudflare.yml
  .windsurf/hooks.json
  README.md
  TODO.md
  apps/web/.gitignore
  apps/web/app/composables/usePasswordOptions.ts
  apps/web/components/PasswordOptions.vue
  apps/web/components/SecurityStatus.vue
  apps/web/nuxt.config.ts
  package.json
Due: oxlint, dprint

chore(web): use cloudflare module preset and add wrangler
  apps/web/nuxt.config.ts
  apps/web/package.json
  bun.lock
Due: oxlint, dprint
