Repository newkub/gen-password: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, dprint

oxlint:
  run: bun oxlint --fix {staged_files}

dprint:
  run: bun dprint fmt {staged_files}

chore: commit nuxt monorepo version before solid-start migration
  apps/extension/package.json
  apps/web/app/pages/index.vue
  apps/web/nuxt.config.ts
  apps/web/package.json
  bun.lock
  package.json
Due: oxlint, dprint

docs: update README for TanStack Start + SolidJS migration
  README.md
Due: dprint

docs: rewrite README with standard template
  README.md
Due: dprint

ci: add notify-profile-readme workflow to trigger newkub/newkub on push
  .github/workflows/notify-profile-readme.yml
Due: none

ci: remove notify-profile-readme workflow
  .github/workflows/notify-profile-readme.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Path conditions:
  oxlint: any of: *.{js,ts,vue}
  dprint: any of: *.{js,ts,vue,json,md}
